html, body {
  height: 100%;
  width: 100%;
}

.button{
  font-size: 20px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}


.settings {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
}


.settingsBox {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e3e3e3;
  padding: 16px 24px;
  width: 40%;
  height: 50%;
}


.closeButton {
  float: right;
  
  text-align: center;
  cursor: pointer;
}

p {
  display: inline;
}


[type=input], [type=date], [type=time], select{
  background-color: white;

  padding: 10px;

  border: none;
}

[type=number]:disabled {
  background-color: black;
}


.showSettings {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
}